.Rproj.user
.Rhistory
.RData
src/*.o
src/*.so
src/*.dll
inst/doc
inst/web
.idea/
cmakebuild/
GPATH
GRTAGS
GTAGS
.vscode/
.Rprofile
times.RData
re2r-benchmark.html
compare.xlsx
list.xlsx
listo.xlsx
CMakeLists.txt
